/* css variables */
:root {
  --primary-color: #b20720;
  --primary-color-light: #e85353;
}

/* common styling */
html,
body {
  font-family: "Open Sans", sans-serif;
}
p {
  margin: 0px;
}
.button-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 6px 20px;
}
.button-primary a {
  text-decoration: none;
  color: #fff !important;
}
.button-secondary {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  color: #000;
  padding: 6px 20px;
}
.button-secondary a {
  text-decoration: none;
  color: #000 !important;
}
.section-pad {
  padding: 50px 0px;
}
.fancy-head {
  font-family: "Fasthand", cursive;
  font-size: 25px;
}
.color-primary {
  color: var(--primary-color);
}
.text-grey {
  color: #727272;
}
.grey-background {
  background-color: #fafafa;
}
.red-background {
  background-color: var(--primary-color);
}

/* Top bar styling */
.top-bar {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 1;
}
.top-bar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header styling */
.header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 7px 0px;
}
.header .logo-holder {
  max-width: 100px;
}
.header .menu-list {
  list-style: none;
  padding: 0px;
}
.header .menu-list li {
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
}
.header .menu-list li:nth-child(5) {
  border-right: none;
}

.header .menu-list a {
  text-decoration: none;
  color: #000;
  padding: 0px 15px;
}

/* Footer styling */
.footer {
  background-color: #000;
  padding: 50px 0px;
}
.footer a {
  color: #fff;
}

.home-hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/home-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 150px 0px;
}
.home-about-us .content {
  max-width: 731px;
  margin: 0 auto;
  text-align: center;
}

.home-testimonial .card-box {
  background-color: #fafafa;
  padding: 20px;
}
.home-testimonial .card-box .content {
  padding: 0px 20px;
}

.home-what-we-do .box .image-holder {
  max-width: 50px;
  margin: 0 auto;
}
.home-team .card-box .image-holder {
  max-width: 170px;
  margin: 0 auto;
}

/* Support page style */

.support-hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/support-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0px;
}
.support .box {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.support .box .content {
  padding: 30px;
}

/* get support styling */
.get-support .info-box {
  max-width: 900px;
  background-color: #fff;
  padding: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.get-support .info-box .image-holder {
  max-width: 400px;
}
