/* css variables */
:root {
  --primary-color: #b20720;
  --primary-color-light: #e85353;
}

/* common styling */
html,
body {
  font-family: "Open Sans", sans-serif;
}
p {
  margin: 0px;
}
.button-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 6px 20px;
}
.button-secondary {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  color: #000;
  padding: 6px 20px;
}

/* Top bar styling */
.top-bar {
  background-color: var(--primary-color);
}
.top-bar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar .social {
  background-color: #e85353;
}

/* Header styling */
.header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 7px 0px;
}
.header .logo-holder {
  max-width: 100px;
}
.header .menu-list {
  list-style: none;
  padding: 0px;
}
.header .menu-list li {
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
}
.header .menu-list li:nth-child(5) {
  border-right: none;
}

.header .menu-list a {
  text-decoration: none;
  color: #000;
  padding: 0px 15px;
}

/* Footer styling */
.footer {
  background-color: #000;
  padding: 50px 0px;
}
.footer a,
p {
  color: #fff;
}

.home-hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/home-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 150px 0px;
}
